{{!-- <title> Twitter. It,s what,s happening/twitter</title> 
<body> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Twitter</title>
</head>
<body>
<div class="homepage">
    <div class="showcase">
        <img src="/images/login.png" alt="">
    </div>

    <div class="left">
        <h1>Happening now</h1>
        <h2>Join twitter today.</h2>
        <div class="sign">
            <a href='signup' class="button">Sign up</a>
        </div>
        <div class="login">
            <a href='login' class="button">Log in</a>
        </div>
   </div> 

<footer></footer>

</body>
</html>






{{!-- </body> --}}



{{!-- <nav>
    <img src='images/logo.png' style="width: 5vw" alt='logo' />
</nav>
<h2>Registriere dich jetzt bei Twitter.</h2>

<a href="#"class="button">Log in with Google </a>
<br>
<a href='signup' class="button">Sign up</a>
<br>
<a href='login' class="button">Log in</a>
<br>
 --}}





