<h1>Log in page</h1>
<form action='/login' method='POST'>
  <label for='username'>Username: </label>
  <input
    type='text'
    name='username'
    placeholder='Your cool username'
    pattern='^(?=.{3,14}$)(?![_.-])(?!.*[_.-]{2})[a-zA-Z0-9_-]+([^._-])$'
    required
    autofocus
  />
  <label for='password'>Password: </label>
  <input
    type='password'
    name='password'
    placeholder='Enter your password'
    pattern='^((?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{8,})\S$'
    required
  />
  <button type='submit'>Log in</button>
  <br>
  <a href="/signup">Or sign up</a>
  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</form>