<div class="login-form">
<h1>Login </h1>
<form action='/login' method='POST'>
  <label for='username'> </label>
  <input
    class="input-box"
    type='text'
    name='username'
    placeholder='Username'
    pattern='^(?=.{3,14}$)(?![_.-])(?!.*[_.-]{2})[a-zA-Z0-9_-]+([^._-])$'
    required
  />
  <label for='password'> </label>
  <input
    class="input-box"
    type='password'
    name='password'
    placeholder='Password'
    pattern='^((?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{8,})\S$'
    required
  />
  <div>
    <button type='submit' class="signup-bottom">Login</button>
  </div>
  <br>
  <hr>
    <p class="or">OR</p>
  <button class="signup-bottom">
    <a class="signup-bottom" href="/signup">Sign up</a>
  </button>
  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</form>