<div class="signup-form">
  <h1>Sign Up</h1>
<form action='/signup' method='POST'>
  <label for='username'></label>
  <input
    class='input-box'
    type='text'
    name='username'
    placeholder='Username'
    pattern='^(?=.{3,14}$)(?![_.-])(?!.*[_.-]{2})[a-zA-Z0-9_-]+([^._-])$'
    required
  />
  <label for='password'> </label>
  <input
    class='input-box'
    type='password'
    name='password'
    placeholder='Min 8 characters'
    pattern='^((?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{8,})\S$'
    required
  />
  <label for='email'></label>
  <input
    class='input-box'
    type='email'
    name='email'
    placeholder='Your E-Mail'
    pattern='^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$'
    required
  />
    <div>
    <button class="signup-bottom" type='submit'>Sign Up</button>
    </div>

<hr>
<p class="or">OR</p>
  <a class="lgn-btn" href="/login">Log In</a>
  </div>

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</form>