<h1>Sign Up page</h1>
<form action='/signup' method='POST'>
  <label for='username'>Username: </label>
  <input
    type='text'
    name='username'
    placeholder='Your cool new username'
    pattern='^(?=.{3,14}$)(?![_.-])(?!.*[_.-]{2})[a-zA-Z0-9_-]+([^._-])$'
    required
  />
  <label for='password'>Password: </label>
  <input
    type='password'
    name='password'
    placeholder='min 8 characters'
    pattern='^((?=\\\\\\\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{8,})\S$'
    required
  />
  <label for='email'>E-mail:</label>
  <input
    type='email'
    name='email'
    placeholder='Your email here'
    pattern='^([\\\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$'
    required
  />
  <button type='submit'>Sign Up</button>
  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
</form>