<form action='/profile/tweet/edit/{{tweetId}}' method='post'>
  <label for='tweet'>Edit:</label>
  <br />
  <textarea 
      name='tweet' 
      id='tweet' 
      cols='30' 
      rows='10'>{{content}}
    </textarea>
  <button type='submit'>Post!</button>
</form>
