/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

/* login */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #15202b;
}

.homepage{
  display: flex;
}

.showcase{
  width: 54%;
  height: 100%;
}

.left{
  float: left;
  width: 100%;
  padding: 70px 30px;
}

.left i{
  color:#FFFFFF;
}

.left h1 {
  margin-top: 45px;
  text-align: flex-start;
  font-size: 74px;
  margin-left: 8px;
  word-spacing: 4px;
  color: #FFFFFF;
  font-family: sans-serif;
  white-space: inherit;
}

.left h2 {
  margin-top: -15px;
  align-items: flex-start;
  font-size: 35px;
  word-spacing: 4px;
  color:#FFFFFF;
  font-family: sans-serif;
  white-space: inherit;
  margin-left: 5px;
}

.sign {
  float: none;
  display: inline-block;
  width: 70%;
  padding: 8%
}

.sign a{
  padding: 13px 100px;
  height: 1.3rem;
  border: 0;
  background-color: #00acee;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  color:#FFFFFF;
  text-align: center;
  display: black;
  font-family: sans-serif;
}

.sign a:hover{
  background-color:#0085b9;
  transition: 15. ease-in-out;
}

.login{
  float: none;
  display: inline-block;
  width: 70%;
  padding: 8%;
}

.login a{
  padding: 13px 100px;
  height: 1.3rem;
  border: 0;
  background-color: #15202b;
  border: 1px solid #0085b9;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  color:#FFFFFF;
  text-align: center;
  display: black;
  font-family: sans-serif;
}

.login a:hover{
  background-color: #005577;
  transition: .15s ease-in-out;
}
